<h1>MetaMask Hello World!</h1>

<div *ngIf="eth; else notInstalled">
  <p>You have a MetaMaks!</p>

  <button (click)="showDetails()">Show Details</button>

  <div *ngIf="show">
    <ul>
      <li><b>Network:</b> {{ version(eth.networkVersion) }}</li>
      <li><b>Is Connected:</b> {{ eth.isConnected() ? 'Yes' : 'No' }}</li>
    </ul>
  </div>

  <button (click)="connect()" [disabled]="awaitConnect">Connect</button>
</div>

<div *ngIf="accounts$ | async as accounts">
  <h2>Accounts conected</h2>
  <ol *ngFor="let account of accounts">
    <li>{{ account }}</li>
  </ol>
</div>

<p *ngIf="awaitConnect">Accept connection in your MetaMask</p>
<p *ngIf="errorMessage">{{ errorMessage }}</p>

<ng-template #notInstalled>
  <p>You don't have a MetaMask.</p>
</ng-template>
